/* default grid, row, column */
.grid {
    display: block;
    width: 800px;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}

.col {
    padding-left: 16px;
    padding-right: 16px;
}

.lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* custom column for tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* custom column for mobile */
@media (max-width: 46.1875em) {
    .sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}