.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
}

/* column for pc */
.lg-4 {
    flex: 0 0 33.33333%;
}

.lg-6 {
    flex: 0 0 50%;
}

.lg-12 {
    flex: 0 0 100%;
}

/* column for mobile */
