/* header */
.header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 46px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    background-color: #000;
}

/* header navbar */
.header__nav {
    display: inline-block;
    line-height: 46px;
}

.header__nav-item {
    display: inline-block;
    position: relative;
    padding: 0 24px;
}

.header__nav-item:hover,
.header__subnav-item:hover {
    cursor: pointer;
    user-select: none;
    background-color: #ccc;
}

.header__nav-item a {
    color: white;
}

.header__nav-item > a {
    text-transform: uppercase;
}

.header__nav-item:hover a {
    color: black;
}

.header__subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.header__subnav-item a{
    padding: 0 12px;
}

.header__nav-item:hover .header__subnav{
    display: block;
}

/* header search */
.header__search {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 0 24px;
    line-height: 46px;
    color: #fff;
}
    
.header__search:hover {
    cursor: pointer;
    background-color: #ff0000;
}

/* slider */
.slider {
    margin-top: 46px;
    position: relative;
    padding-top: 48%; /* 48% of its width */
    background: url('/assets/images/slider/event-chicago.jpg') top center /cover  no-repeat;
    color: #fff;
}

.slider__event {
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.slider__event-heading {
    margin-bottom: 25px;
}

.slider__event-description {
    font-weight: 600;
}