/* common */
.text-center {
    text-align: center !important;
}

.text-white {
    color: #ffffff !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-16 {
    margin-bottom: 16 !important;
}

.row {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
}

.col-6 {
    flex: 50%;
}

.col-12 {
    flex: 0 0 100%;
}

/* header */
.header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 46px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    background-color: #000000;
}

/* header navbar */
.header__nav {
    display: inline-block;
    line-height: 46px;
}

.header__nav-item {
    display: inline-block;
    position: relative;
    padding: 0 24px;
}

.header__nav-item:hover,
.header__subnav-item:hover {
    cursor: pointer;
    user-select: none;
    background-color: #cccccc;
}

.header__nav-item a {
    color: #ffffff;
}

.header__nav-item > a {
    text-transform: uppercase;
}

.header__nav-item:hover a {
    color: var(--color-textPrimary);
}

.header__subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.header__subnav-item a{
    padding: 0 12px;
}

.header__nav-item:hover .header__subnav{
    display: block;
}

/* header search */
.header__search {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 0 24px;
    line-height: 46px;
    color: #fff;
}
    
.header__search:hover {
    cursor: pointer;
    background-color: #ff0000;
}

/* slider */
.slider {
    margin-top: 46px;
    position: relative;
    padding-top: 48%; /* 48% of its width */
    background: url('/assets/images/slider/event-chicago.jpg') top center /cover  no-repeat;
    color: var(--color-textSecondary);
}

.slider__event {
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
    color: var(--color-textSecondary);
}

.slider__event-heading {
    margin-bottom: 25px;
}

.slider__event-description {
    font-weight: 600;
}

/* band */
.content {
    width: 800px;
    padding: 64px 16px;
    margin: 0 auto;
}

.content__heading {
    margin: 15px 0;
    font-size: 2.7rem;
    letter-spacing: 4px;
}

.content__subheading {
    margin: 15px 0;
    font-size: 1.5rem;
    font-style: italic;
    color: #aaaaaa;
}

.about-text {
    margin: 15px 0;
    text-align: justify;
}

.members {
    display: flex;
    padding: 32px 0;
    justify-content: space-around;
}

.members__item-name {
    margin: 15px 0;;
}

.members__item-image {
    width: 154px;
    border-radius: 5px;
}

/* tour */

.container {
    background-color: var(--color-BGPrimary);
}

.booking {
    background-color: #ffffff;
}

.booking__month {
    text-align: left;
    padding: 8px 16px;
    border-bottom: 1px solid #dddddd;
    color: #777777;
}

.booking__sold-out {
    padding: 0 8px;
    margin-left: 16px;
    color: var(--color-textSecondary);
    background-color: #ff0000;
}

.booking__quantity {
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    color: var(--color-textSecondary);
    background-color: #000000;
}

.tour {
    display: flex;
    justify-content: flex-start;
    padding: 32px 0px;
}

.tour__item + .tour__item {
    margin-left: 15px;
}

.tour__item {
    text-align: left;
    background-color: #ffffff;
}

.tour-image {
    width: 100%;
}

.tour-image:hover {
    opacity: 0.6;
    width: 100%;
}

.tour-detail {
    padding: 0 16px;
}

.tour-detail__heading,
.tour-detail__subheading,
.tour-detail__description {
    margin: 16px 0;
}

.tour-detail__subheading {
    color: #aaaaaa;
}

.tour-detail__btn {
    padding: 8px 16px;
    margin-bottom: 16px;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--color-textSecondary);
    background-color: #000000;
}

.tour-detail__btn:hover {
    color: var(--color-textPrimary);
    background-color: #cccccc;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.open {
    display: flex;
}

.modal__close {
    border: none;
}

.modal__container {
    width: 900px;
    max-width: calc(100% - 32px);
    animation: modalFadeIn 0.5s ease;
    background-color: #ffffff;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal__close {
    float: right;
    width: 46px;
    height: 52px;
    padding: 8px 16px;
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
}

.modal__close:hover {
    cursor: pointer;
    color: #000000;
    background-color: #cccccc;
}

.modal__header {
    line-height: 129px;
    height: 129px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    color: #ffffff;
    background-color: #009688;
}

.modal__body {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.modal__body-label {
    margin: 16px 0;
    font-size: 1.5rem;
}

.modal__body-input {
    padding: 8px;
    border: 1px solid #cccccc;
    margin-bottom: 16px;
    font-size: 1.4rem;
}

.modal__body-payment {
    height: 54px;
    padding: 16px;
    margin: 16px 0;
    color: #ffffff;
    background-color: #009688;
}

.modal__body-payment:hover {
    cursor: pointer;
    color: #000000;
    background-color: #cccccc;
}

.modal__footer {
    float: right;
    padding: 16px;
    padding-top: 0px;
    font-size: 1.4rem;
}

.modal__footer a {
    text-decoration: underline;
    color: #2196F3;
}

/* contact */
.contact {
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-us i[class*='fa-']{
    width: 32px;
}

.form-control {
    padding: 8px;
    width: 100%;
    font-size: 1.5rem;
}

.contact-submit {
    float: right;
    padding: 8px 16px;
    border: none;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #ffffff;
    background-color: #000000;
}

.contact-submit:hover {
    cursor: pointer;
    color: #000000;
    background-color: #cccccc;
}