/* pc */
@media (min-width: 1024px) {

}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* mobile */
@media (max-width: 739px) {
    /* common */
    .content {
        padding-left: 16px;
        padding-right: 16px;
    }

    /* header */
    .header {
        overflow: hidden;
    }

    .header__nav {
        display: block;
    }

    .header__nav-item {
        display: block;
    }

    .header__nav > li:first-child {
        display: inline-block;
    }

    .header__subnav {
        position: initial;
        margin-left: -24px;
        margin-right: -24px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: #000000;
    }

    .header__nav-item:hover a{
        color: #ffffff;;
    }

    .header__search {
        display: none;
    }

    .header__mobile-menu-btn {
        display: block;
    }

    /* about */
    .slider__event {
        bottom: 8px;
    }
    
    .slider__event-heading {
        margin-bottom: 0;
        font-size: 1.6rem;
    }

    .slider__event-description {
        font-size: 1rem;
    }
}